@model IEnumerable<ContactForm.Models.DetailsViewModel>

<div style="width: 80%; margin: auto;">
  <table class="table table-small">
    <thead class="table-light">
      <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email Address</td>
          <td>Message</td>
          <td><a asp-action="Delete" class="btn btn-sm btn-danger">Clear All</a></td>
      </tr>
          
    </thead>
    <tbody>
      @foreach(var item in Model)
      {
          <tr>
              <td>@item.FirstName</td>
              <td>@item.LastName</td>
              <td>@item.Email</td>
              <td>@item.Message</td>
              <td>
                  <!-- Edit Button -->
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                  <!-- Delete Button -->
                  <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
              </td>
          </tr>
      }
    </tbody>
  </table>
</div>
