@model IEnumerable<ContactForm.Models.DetailsViewModel>

<div style="width: 80%; margin: auto;">

  <table class="table table-small">
    <thead class="table-light">
      <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email Address</td>
          <td>Message</td>
          <td>
            <form asp-action="DeleteAll" method="post" style="display:inline;">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-sm btn-danger">Clear All</button>
            </form>
          </td>
      </tr>
          
    </thead>
    <tbody>
      @foreach(var item in Model)
      {
          <tr>
              <td>@item.FirstName</td>
              <td>@item.LastName</td>
              <td>@item.Email</td>
              <td>@item.Message</td>
              <td>
                  <form asp-action="Delete" method="post" asp-route-id="@item.Id" style="display:inline;">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                  </form>
              </td>
          </tr>
      }
    </tbody>
  </table>
</div>
